<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limemobile.app.plugin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
    </application>

    <service
        android:name="com.limemobile.app.plugin.PluginHostAIDLService"
        android:exported="true" />

    <!-- HostDelegete Activity的Theme中不能用Host和Client的相关资源 -->
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.NoTitleBar" />
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateFragmentActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.NoTitleBar" />
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateDialogActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.Dialog" />
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateDialogFragmentActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.Dialog" />
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateTransparentActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.Translucent.NoTitleBar" />
    <activity
        android:name="com.limemobile.app.plugin.PluginHostDelegateTransparentFragmentActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Plugin.Translucent.NoTitleBar" />

    <service android:name="com.limemobile.app.plugin.PluginHostDelegateService" />

</manifest>